@font-face {
    font-family: bodyName;
    src: url('../assets/ARCADECLASSIC.TTF');
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#name-container{
    display: flex;
    flex-direction: column;
    position:absolute;
    left: 10%;
    height: 3rem;
    max-width: 100vw;
    width:75%;
}



.hud{
    margin-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 1rem;
    background-color: rgba(36, 36, 36, 0.5);
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
}


#res{
    display: flex;
    flex-direction: row;
    height: 3rem;
    width:100%;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    justify-content: space-around;
    align-self: center;
}


#info-panel{
    user-select: none;
    display: flex;
    visibility: collapse;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    left: 62%;
    top: 30%;
    height: 35vh;
    width: 32vw;
    border-radius: 20px;
    background-color: rgba(100, 100, 100, 0.4);
    backdrop-filter: blur(4px);
    overflow-x: hidden;
    overflow-y: hidden;
    transition:visibility 0.5s linear,opacity 0.5s linear;
    align-items: center;
}

#dataHolder{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.data-holder{
    font-family:raj;
    font-size: 2rem;
    width: 90%;
    height: 20%;
    margin-top: 0.7rem;
    align-self: center;
}


.bdName{
    font-family: bodyName;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    user-select: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.bdName:hover{
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.bdName:active{
    transform: scale(1.2);
}

#inpt{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
}

#inpt-container{
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 90%;
    left: 38%;
    height: 3rem;
    max-width: 100vw;
    width:max-content;
    padding-left: 2rem;
    padding-right: 2rem;
}


::-moz-placeholder{
    color: rgba(255, 255, 255, 1);
}

::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 1);
}

#woe{
    font-size: 1.5rem;
    width: 105%;
    border: none;
}

#woe::selection{
    border: none;
}

#woe:focus{
    outline: none;
}


.close-button{
    position: absolute;
    border-radius: 50%;
    background-color: rgb(148, 16, 30);
    width: 1.15rem;
    height: 1.15rem;
    z-index: 3;
    align-self: flex-end;
    margin-top: 0.5rem;
    margin-right: 0.5rem;

}

.close-button:hover{
    background-image: url('../assets/cross_32.png');
    background-size: contain;
}



canvas{
    padding: 0;
    margin: 0;
}